<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>com.thincode.app.web.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/AltaUsuario</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>